* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color:#F2F2F2;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap; 
}

.container {
    max-width: 1920px; 
    margin: 0 140px;
    margin-top:42px; 
}

.header-button {
    margin-right: 0;
    background-color:#29B24E;
    color:#FFFFFF;
    padding:13px 26px;
    border-radius:12px;
}

.navbar-ul {
    display: flex;
    gap: 48px;
    list-style: none; 
}

.navbar-li {
    color:#000000;
    font-size:14px;
    font-weight:400; 
}

.logo {
    display:flex;
    flex-wrap:wrap;
}

.new-icon {
    display:none;
}

.form-section {
    max-width: 395px;
    width: 100%;
    max-height: 751px;
    height:100%;
    background-color: #F8F8F8;
    border-radius: 24px;
    padding: 20px;
}

.image-section {
    max-width: 1225px;
    max-height: 751px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}

.form-section h2 {
    margin-bottom: 16px;
    font-size:16px;
    font-weight:500;
    color:#000000;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:24px;
}

.checkboxes label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-size:14px;
    font-weight:400;
    accent-color: #29B24E;
}

.opacity {
    opacity: 0.5;
}

select {
    max-width: 331px;
    width:100%; 
    max-height:48px;
    padding: 14px; 
    border: 1px solid #0D9CA4; 
    border-radius: 10px; 
    font-size: 14px;
    font-weight:400;
    margin-bottom:32px; 
}

.flex-container {
    display: flex;
    gap: 20px;
}



.image-section .content {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000000;
}

.image-section .content h1 {
    font-size: 31px;
    margin-bottom: 10px;
    font-weight: 600;
}

.image-section .content h3 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
}

.image-section .content form {
    display: flex;
    justify-content: center;
}

.image-section .content input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width:275px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    padding-right: 40px; 
    width: 100%; 
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    bottom:1px; 
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1920px; 
    margin: 0 140px;
    
}

.article {
    width: calc(25% - 20px);
    background-color: #F8F8F8;
    border-radius: 24px;
    padding:16px;
    display:flex;
    box-shadow: 0px 0px 20px rgba(194, 194, 194, 0.3); 
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #29B24E;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size:12px;
}

.article-line {
    width: 100%;
    height: 1px;
    background-color: #CFEAD6;
}

.qualities {
    display: flex;
    justify-content: space-between;
    color:#000000;
    margin-top:24px;
    margin-bottom:24px;
}

.article-h1 {
    font-size:16px;
    font-weight:500;
    color:#000000;
    margin-top:16px;
    margin-bottom:8px;
}

.article-h3 {
    font-size:14px;
    font-weight:400;
    color:rgba(194, 194, 194, 5);
}


.article-price {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#000000;
    margin-bottom:16px;
}

.price {
    color: #29B24E; 
    font-size: 26px;
    margin-right: 5px;
}

.section-h1 {
    width:100%;
    margin-top:32px;
    margin-bottom:36px;
    font-size:18px;
    font-weight:500;
}

.footer-container {
    background-color: #29B24E;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:80px;
    margin-bottom:80px;
}

.left-links, .middle-links, .right-links {
    display: flex;
    gap: 24px;
    font-size:14px;
    font-weight:400;
    
}

.left-links a, .middle-links a, .right-links a {
    color:#FFFFFF;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #D0D0D0;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size:14px;
    font-weight:400;
}

.fixed-menu {
    display:none;
}

.icon {
    position: absolute;
    bottom: -6px; 
    right: 3px;
    width: 30px; 
    height: 30px;
    background-color:#FFFFFF;
    border-radius:14px;
    padding:5px;
    box-shadow: 0px 0px 20px rgba(194, 194, 194, 0.3);
    z-index: 100;
}




.new-section {
    display:flex;
    max-width: 1920px;
    margin: 70px 140px;
    gap:44px;
}
    

.img2-container {
    max-width:810px;
    max-height:732px;
}

.image2-container {
    max-width: 810px;
    max-height: 732px;
    border-radius: 10px;
    overflow: hidden; 
}

.background-container {
    max-width: 810px;
    width:100%; 
    max-height: 732px;
    height:100%; 
    background-color: #F8F8F8;
    padding: 40px;
    border-radius: 10px;
    overflow: hidden; 
}

.top-words {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-word {
    background-color: #29B24E;
    padding: 5px 10px;
    border-radius:15px;
    color: white;
}

.transparent-word {
    opacity: 0.7;
    font-size:12px;
    font-weight:500;
}

.background-container h1{
    font-size:22px;
    margin-top:29px;
    margin-bottom:12px;
    font-weight:600;
}

.background-container h2{
    font-size:12px;
    margin-top:12px;
    margin-bottom:4px;
    font-weight:400;
}

.background-container h3{
    font-size:14px;
    opacity: 0.7;
    margin-bottom:32px;
    font-weight:400;
}

.background-container p{
    font-size:14px;
    font-weight:400;
}

.line {
    height: 1px;
    background-color: #ECECEC;
    border: none;
    margin: 20px 0;
}

.random-words {
    display:flex;
    gap:24px;
}

.description-menu {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
}

.column li {
    font-size:14px;
    font-weight:500;
}

.info {
    opacity: 0.7;
    font-size:12px;
    font-weight:400;
    margin-top:12px;
}

.info-text {
    margin-top: 4px;
    margin-bottom:16px;
    font-size:14px;
    font-weight:400;
    margin-top:12px;

}


ul {
    list-style-type: none;
    padding: 0;
}

.price {
    font-size: 24px;
    margin-bottom: 10px;
}

.call-button {
    background-color: #29B24E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.message-button {
    background-color: white;
    color: #29B24E;
    border: 1px solid #29B24E;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}





@media screen and (max-width: 768px) {
    .container {
        margin: 0 20px; 
    }

    .d-flex {
        flex-wrap:wrap;
        align-items:center;
    }

    .navbar-ul {
        display:none; 
    }

    .header-button {
        display: none; 
    }

    .new-icon {
        display: block;
        background-color:#F8F8F8;
        border-radius: 24px;
        padding:10px 10px;
    }

    .image-section {
        width: 335px;
        height: 435px;
    }
    
    .form-section {
        width: 375px;
        width:100%;
        max-height: 739px;
        height:100%;
    }

    .flex-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        margin-top:28px;
    }

    .image-section .content input[type="text"]{
        display:none;
    }

    .image-section .content h1 {
        font-size:20px;
    }

    .image-section .content h3 {
        font-size:9px;
    }

    .article-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 100%; 
        margin: 0 20px; 
        justify-content: center; 
    }

    .article {
        width: 335px; 
        height: 424px; 
        margin-bottom: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F8F8F8; 
        border-radius: 24px; 
        padding: 16px; 
        box-shadow: 0px 0px 20px rgba(194, 194, 194, 0.3); 
    }

    .footer-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    
    .left-links {
        width: 50%; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .right-links {
        width: 50%; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .middle-links {
        display: none;
    }
    
    .footer-line {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .copyright {
        text-align: center;
    }



    .fixed-menu {
        position: fixed;
        bottom:0px;
        left: 0;
        width: 100%;
        height: 72px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 24px; 
        border-top-right-radius: 24px;
    }
    
    .fixed-menu a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #000000;
        font-size: 12px;
    }
    
    .fixed-menu a img {
        width: 24px;
        height: 24px;
        margin-bottom: 4px;
    }
    
    .fixed-menu a:nth-child(3) {
        position: relative;
        top: -18px; 
        background-color: #29B24E;
        border-radius: 12px;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fixed-menu a:nth-child(3) img {
        width: 32px;
        height: 32px;
        margin-bottom: 0;
    }

    .article:nth-child(1) {
        display: none; 
    }

    .article:nth-child(2) {
        display: none; 
    }

    .article:nth-child(3) {
        display: none; 
    }

    .article:nth-child(4) {
        display: none; 
    }

    .new-section{
        display:flex;
        flex-wrap: wrap;
        width:375px;
        height:1060px;
        margin-bottom:80px;
        margin: 0 auto; 
        width: 100%; 
        justify-content: center;
    }
    
    .description-menu{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .background-container {
        width:375px;
        height:1060px;
    }
    
}