* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color:#F2F2F2;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap; 
}

.container {
    max-width: 1920px; 
    margin: 0 140px;
    margin-top:42px; 
}

.header-button {
    margin-right: 0;
    background-color:#29B24E;
    color:#FFFFFF;
    padding:13px 26px;
    border-radius:12px;
}

.navbar-ul {
    display: flex;
    gap: 48px;
    list-style: none; 
}

.navbar-li {
    color:#000000;
    font-size:14px;
    font-weight:400; 
}

.logo {
    display:flex;
    flex-wrap:wrap;
}

.new-icon {
    display:none;
}

.form-section {
    max-width: 395px;
    width: 100%;
    max-height: 751px;
    height:100%;
    background-color: #F8F8F8;
    border-radius: 24px;
    padding: 20px;
}

.image-section {
    max-width: 1225px;
    max-height: 751px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}

.form-section h2 {
    margin-bottom: 16px;
    font-size:16px;
    font-weight:500;
    color:#000000;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:24px;
}

.checkboxes label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-size:14px;
    font-weight:400;
    accent-color: #29B24E;
}

.opacity {
    opacity: 0.5;
}

select {
    max-width: 331px;
    width:100%; 
    max-height:48px;
    padding: 14px; 
    border: 1px solid #0D9CA4; 
    border-radius: 10px; 
    font-size: 14px;
    font-weight:400;
    margin-bottom:32px; 
}

.flex-container {
    display: flex;
    gap: 20px;
}



.image-section .content {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000000;
}

.image-section .content h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 600;
}

.image-section .content h3 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
}

.image-section .content form {
    display: flex;
    justify-content: center;
}

.image-section .content input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width:275px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    padding-right: 40px; 
    width: 100%; 
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    bottom:1px; 
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1920px; 
    margin: 0 140px;
    
}

.article {
    width: calc(25% - 20px);
    background-color: #F8F8F8;
    border-radius: 24px;
    padding:16px;
    display:flex;
    box-shadow: 0px 0px 20px rgba(194, 194, 194, 0.3); 
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #29B24E;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size:12px;
}

.article-line {
    width: 100%;
    height: 1px;
    background-color: #CFEAD6;
}

.qualities {
    display: flex;
    justify-content: space-between;
    color:#000000;
    margin-top:24px;
    margin-bottom:24px;
}

.article-h1 {
    font-size:16px;
    font-weight:500;
    color:#000000;
    margin-top:16px;
    margin-bottom:8px;
}

.article-h3 {
    font-size:14px;
    font-weight:400;
    color:rgba(194, 194, 194, 5);
}


.article-price {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#000000;
    margin-bottom:16px;
}

.price {
    color: #29B24E; 
    font-size: 26px;
    margin-right: 5px;
}

.section-h1 {
    width:100%;
    margin-top:32px;
    margin-bottom:36px;
    font-size:18px;
    font-weight:500;
}

.footer-container {
    background-color: #29B24E;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.left-links, .middle-links, .right-links {
    display: flex;
    gap: 24px;
    
}

.left-links a, .middle-links a, .right-links a {
    color:#FFFFFF;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #D0D0D0;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    width: 100%;
    color: #FFFFFF;
}





@media screen and (max-width: 768px) {
    .container {
        margin: 0 20px; 
    }

    .d-flex {
        flex-wrap:wrap;
        align-items:center;
    }

    .navbar-ul {
        display:none; 
    }

    .header-button {
        display: none; 
    }

    .new-icon {
        display: block;
        background-color:#F8F8F8;
        border-radius: 24px;
        padding:10px 10px;
    }

    .image-section {
        width: 335px;
        height: 435px;
    }
    
    .form-section {
        width: 375px;
        width:100%;
        max-height: 739px;
        height:100%;
    }

    .flex-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        margin-top:28px;
    }

    .image-section .content input[type="text"]{
        display:none;
    }

    .image-section .content h1 {
        font-size:20px;
    }

    .image-section .content h3 {
        font-size:9px;
    }

    .article-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 100%; 
        margin: 0 20px; 
        justify-content: center; 
    }

    .article {
        width: 335px; 
        height: 424px; 
        margin-bottom: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F8F8F8; 
        border-radius: 24px; 
        padding: 16px; 
        box-shadow: 0px 0px 20px rgba(194, 194, 194, 0.3); 
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-links, .right-links {
        align-items: flex-start;
        flex-direction: column;
    }

    .middle-links {
        display: none;
    }

    .footer-line {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .copyright {
        text-align: center;
    }
    
}

